@model IEnumerable<CoolEvents.Models.Ticket>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    var session = HttpContextAccessor.HttpContext?.Session;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            @if (session.GetString("IsAdmin") == "true")
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Description)
                </td>
                @if (session.GetString("IsAdmin") == "true")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                }
                <td>
                    @if (session.GetString("IsAdmin") == "true")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
